#ignorando arquivos gerados pelo qtcreator
.qtcreator

#ignorando o diretorio de build
/build
/build-release

# Presets locais de cada desenvolvedor (caminhos de compilador/Qt específicos da máquina)
CMakeUserPresets.json
CMakePresets.json
